body{
    text-align: center;
    background-image:url('background.jpg') ;
    background-repeat: no-repeat;
    background-size: 100%;
}
div{
    background-color: darkgrey;
    opacity:0.8;
}

h1{
    color: lawngreen;
}

h3{
    color: deepskyblue;
}
label{
    color: gold;
    font-size:25px;
}
span{
    color: greenyellow;
    font-size:25px;
}
